<h2 mat-dialog-title>
  {{ isEditing ? 'Editovat uživatele' : 'Vytvořit uživatele' }}
</h2>
<mat-dialog-content>
  <form class="__form" [formGroup]="userFormGroup">
    <mat-form-field>
      <mat-label>Jméno</mat-label>
      <input matInput type="text" formControlName="name" name="user_name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" name="user_email" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zavřít</button>
  <button
    mat-button
    color="primary"
    type="button"
    [disabled]="!isFormValid()"
    (click)="onModalClose()"
  >
    {{ isEditing ? 'Upravit' : 'Vytvořit' }}
  </button>
</mat-dialog-actions>
