:host {
  display: block;
}

.__checkbox-wrap {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 24px;
  --mdc-typography-body2-font-size: 16px;
  --mdc-typography-body2-font-weight: 500;
}

.__button {
  width: 100%;
}
