:host {
  display: block;
  padding-bottom: 48px;
  padding-top: 48px;
}

.__title {
  padding-bottom: 24px;

  font-size: 30px;
  text-align: center;
}

.__wrap {
  display: block;
  width: 460px;
  padding: 0px 24px;
  margin: 0 auto;
}
