:host {
  display: flex;
}

.__client-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0 0 8px 0;
}

.__client-wrapper {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  align-items: center;
  position: relative;
  width: auto;
}

.__client-avatar {
  border-radius: 50%;
  border: 2px solid transparent;
  width: 48px;
  height: 48px;
  background: #fff;
  cursor: pointer;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}
.__client-avatar.active {
  border-color: blue;
}

.__new-client-wrapper {
  padding: 0 4px;
}

.__new-client {
  border-radius: 50%;
  border: 2px solid lawngreen;
  width: 48px;
  height: 48px;
  background: #fff;
  cursor: pointer;
  display: block;
  font-size: 30px;
  font-weight: 500;
  outline: none;
  padding: 0;
}
